.carouselItem {
  height: 65vh;
}

.img {
  height: 40vh;
  margin-left: auto;
  margin-right: auto;
}

.projTitle {
  font-size: 4vh;
  text-shadow: 4px 4px 3px #cdaca1;
}

.projText {
  font-size: 2.5vh;
}

@media screen and (max-width: 768px) {
  .carouselItem {
    height: 83vh;
  }
}
