.resPage {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    url(../../assets/images/background-img.jpg);
  background-position: cover;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-family: "Quicksand", sans-serif;
}

#resume {
  font-size: 75px;
  text-shadow: 4px 4px 3px #cdaca1;
}

.resDiv {
  height: 400px;
}

.resDiv img {
  height: 400px;
  opacity: 40%;
}

.resLink a h2 {
  font-size: 40px;
  text-shadow: 4px 4px 3px #cdaca1;
}

.resLink a:hover h2 {
  text-decoration: underline;
}
