.resDiv {
  height: 60vh;
}

.resDiv img {
  height: 60vh;
  opacity: 40%;
}

.resLink a h2 {
  font-size: 5.5vh;
  text-shadow: 4px 4px 3px #cdaca1;
}

.resLink a:hover h2 {
  text-decoration: underline;
}
