.resDiv {
  height: 400px;
}

.resDiv img {
  height: 400px;
  opacity: 40%;
}

.resLink a h2 {
  font-size: 35px;
  text-shadow: 4px 4px 3px #cdaca1;
}

.resLink a:hover h2 {
  text-decoration: underline;
}
