section {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    url(../../assets/images/background-img.jpg);
  background-position: cover;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-family: "Quicksand", sans-serif;
}

section h1 {
  font-size: 75px;
  text-shadow: 4px 4px 3px #cdaca1;
}

.bioImg {
  max-height: 200px;
  min-width: 200px;
  border-radius: 50%;
  object-fit: scale-down;
}

.bio {
  width: 850px;
  font-size: 20px;
}
